/* Work Sans fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared Style */

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    /* margin: 0px;
    padding: 0px; */
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    /* height: 64px; */
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.content-desc {
    color: #727272;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 24px;
}

.content-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

/* header styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;

}

nav li a {
    text-decoration: none;
    color: #424242;
}


/* Banner Styles */

.banner-cont {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner img {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 30px;
}

/* main styles */

main {
    max-width: 1440px;
    margin: 70px auto;
}

/* teams styles */

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.quick {
    color: #727272;
    font-weight: 500;
}

.our {
    color: #131313;
    font-weight: 700;
}

.feature {
    color: #FF900E;
    font-weight: 700;
}

/* featurres section */

.feature-container {
    display: flex;
    margin-top: 130px;
    gap: 140px;
}

.feature-content .card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    padding: 20px;
}

.feature-content .card .card-title {
    color: #131313;
    font-size: 1.4rem;
    font-weight: 600;
}

.feature-content .content-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-img img {
    height: 85%;
    margin-left: 60px;
}

.ten-year-exp {
    border-radius: 8px;
    background: #FF900E;
    color: white;
    width: 342px;
    height: 200px;
    padding: 42px;
    text-align: center;
    position: relative;
    bottom: 140px;
    right: 80px;
}

.ten-year-exp h2 {
    font-size: 60px;
}

.ten-year-exp p {
    font-size: 20px;

}


/* facts style & cards */

.facts{
    margin-top: 100px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 35px;
}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title {
    color: #727272;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 5px;
}

/* Sponsors Styrle */

.sponsor {
    text-align: center;
    margin-top: 100px;
}

.sponsor-icon-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.sponsor-icon-container img {
    width: 165px;
    height: 50px;
}

/* Footer Styles */
footer{
    padding:0px 210px;
}
.footer {
    /* border: 2px solid red; */
    /* width: 100%; */
    /* max-width: 1440px; */
    /* margin: 50px 240px; */
    /* max-width: 500px; */
    border-radius: 8px;
    background: #FFF4E7;
    padding: 40px 350px;
    text-align: center;
}

.hide{
    display: none;
}


/* Responsive media query styles */

/* Mobile devices */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsor-icon-container,
    .feature-container {
        flex-direction: column;
    }
    nav li {
        margin-right: 20px;
    
    }

    .teams-img-container {
        grid-template-columns: 1fr;

    }

    .teams-content,
    .facts-card-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }

    .feature-img img {
        width: 95%;
        margin-left: 0px;
    }

    .ten-year-exp {
        position: static;
        max-width: 300px;
        margin-top: 20px;
        padding: 20px;
    }
    footer{
        padding: 0px;
        margin: 0px;
    }
    .footer {
        margin: 50px auto;
        padding: 15px 0px;
    }

}



/* Medium Devices */

@media screen and (min-width:576px) and (max-width:992px) {

    nav,
    .teams-container,
    .sponsor-icon-container,
    .feature-container {
        flex-direction: column;
    }

    .facts-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    header {
        padding: 40px;
    }
    .feature-img img {
        width: 95%;
        margin-left: 0px;
    }
    .ten-year-exp {
        position: static;
        max-width: 500px;
        margin: 20px auto;

    }
    footer{
        padding: 0px;
    }
    .footer {
        /* border: 2px solid red; */
        /* width: 100%; */
        max-width: 575px;
        margin: 50px auto;
        padding: 15px 10px;
    }


}